
body {
    font-family: 'Roboto', sans-serif;
    color: #2E2F42;
    background-color: #FFF;
}
/*___________________ reset */
ul, 
ol {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0; 
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* common  */

.container {
    max-width: 320px;
    width: 100%;
    padding: 0 16px;
    margin: 0 auto;
}


/* header */

.page-header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
    background: #fff;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-list,
.contacts {
    display: none; 
}

.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.header-logo {
    padding: 16px 0;
    display: block;
}

.header-logo .logo-part {
    color: #2E2F42;
}
/* burger */
.burger-btn {
    padding: 0;
    border: none;
    background-color: transparent;
}

.burger-icon {
    display: block;
    fill: #2f2f37;
}



/* adress */




/* MOBILE  */
/* ____section 2 features____*/


.container-section  {
    padding-top: 96px;
    padding-bottom: 96px;
}

.solutions-list {
    display: flex;
    flex-wrap: wrap;
    gap: 72px;
}


.solutions-icon-container {
    display: none;
}

.solutions-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 8px;
}

.section-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
} 


/*____section 3 Our Team_   закінчила на цій цекції____ 

.team {
    background-color: #F4F4FD;
}

.secondary-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 72px;
    color: #2e2f42;
}

.team-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 32px;
}

.team-item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #fff;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    width: calc((100% - 96px) / 1);
    width: 264px;
}

.team-inform {
    padding: 32px 16px;
    text-align: center;
}

.team-inform-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
    text-align: center;
    color: #2e2f42;
}

.team-inform-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
    margin-bottom: 8px;
} 

.team-contact-list {
    display: flex; 
    gap: 24px;
    align-items: center;
    justify-content: center;
    margin-top: 8px;
}

.team-contact-link {
    display: flex;  
    justify-content: center;
    align-items: center; 
    background-color:  #4d5ae5;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    width: 40px;
    height: 40px;
}

.team-contact-link:hover,
.team-contact-link:focus,
.footer-contact-link:active {
    background-color:  #404bbf;
}*/

.contact-icon {
    fill: #f4f4fd;
} 

/* mobile-menu */
.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;

    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: 
        opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), 
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

.mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.mobile-menu-container {
    position: relative;
    padding-top: 72px;
    padding-bottom: 40px;

    display: flex;
    flex-direction: column;
    height: 100%;
}

.mobile-menu-close {
    position: absolute;
    top: 24px;
    right: 24px;
}

.mobile-menu-nav {
    margin-bottom: auto;
}

/* Tablet */

@media screen and (min-width: 768px) {

  /*____section 2 features____*/   
    .container {
        max-width: 768px;
    }

    /* burger */
.burger-btn {
    display: none;
}

.header-nav {
    display: flex;
    align-items: center;
}

.nav-list {
    display: flex;
    align-items: center;
    gap: 40px;  
}

.nav-link {
    display: block;
    padding: 24px 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);  
}

.nav-link.current {
    position: relative;
}

.nav-link.current::after {
    content: '';
    position: absolute;
    border-radius: 2px;
    height: 4px;
    width: 100%;
    left: 0;
    bottom: -1px;
    background-color: #404bbf;
}

.nav-link:hover,
.nav-link:focus,
.contacts-link:hover,
.contacts-link:focus,
.nav-link.current {
   color: #404bbf;
}

.header-logo {
    padding: 24px 0;
    margin-right: 120px;
}
.contacts {
    font-style: normal;
    display: block;
}

.contacts-list {
    display: flex;
    flex-direction: column;
    gap: 12px   
}

.contacts-link {
    display: block;  
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

 
/* mobile-menu */
.mobile-menu {
    display: none;
}
/*__section 2 features__*/

    .solutions-list {
        gap: 24px;
    }

    .solutions-item {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;
        margin: 0;
        gap: 8px;
        width: 100%;
        width: calc((100% - 72px) / 2);
    }

 /* ____section 3 team______*/   
 
}

/* __________desktop_____________ */

@media screen and (min-width: 1158px) {

    .container {
        max-width: 1158px;
        padding: 0 15px;
    }

    .header-logo {
        margin-right: 76px;
    }

    .contacts-list {
        flex-direction: row;
        align-items: center;
        gap: 40px;
    }

    .contacts-link {
        padding: 24px 0;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
    }
    


/*section 2 features 

    .solutions-item {
        width: calc((100% - 72px) / 4);
    }

    .solutions-icon-container {
        display: flex;
        height: 112px;
        align-items: center;
        justify-content: center;
        background-color: #f4f4fd;
        border-radius: 4px;
        border: 1px solid #8e8f99;
        margin-bottom:8px;
    }

    .solutions-icon {
        max-width: 100%;
    }

    .solutions-title {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
    }

    .section-text {
        font-weight: 400;
    }

   section 3 team    
 

    .team-item {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background-color: #fff;
        border-radius: 0 0 4px 4px;
        box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
        width: calc((100% - 96px) / 4);
 
}*/
}